{{ define "question-detail.html" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adygl</title>
</head>
<body>
    <div>Answer Question</div>
    <div>
        <form action="/answer/{{ .question.ID }}" method="POST">
            <p>Question: {{ .question.Question }}</p>
            <label for="answer">Your Answer</label>
            <input id="answer" name="answer" type="text">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
{{end}}