{{ define "soon.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <style>
         body {
            background: rgb(241, 41, 131);
            background: linear-gradient(106deg, rgba(241, 41, 131, 1) 31%, rgba(223, 167, 48, 1) 99%);
        }
    </style>
</head>
<body class="flex items-center justify-center min-h-screen">
    <div class="mx-10">
        <h1 class="text-xl font-semibold text-white">on progress yah</h1>
    </div>
</body>
</html>

{{end}}