<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>create question</div>
    <div>
        <form action="/create-question" method="POST">
            <label for="question">silahkan masukan pertanyaan</label>
            <input name="question" id="question" type="text">
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>